/*
* @Author: Yinlong Su
* @Date:   2016-04-28 22:08:20
* @Last Modified by:   Yinlong Su
* @Last Modified time: 2016-04-28 23:29:19
*/

.sidebar {
  position: absolute;
  top: 0;
  left: 0px;
  width: 170px;
  height: 100%;
  z-index: 20;
  background: #333333;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  transition: all 0.25s ease;
}

.sidebar-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 12px;
}

.sidebar-list-button {
  width: 80%;
  margin: 0 auto;
  padding: 20px 10px;
  text-align: center;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 12px;
}

.sidebar-list-button:hover {
  border: 2px solid rgb(133, 133, 133);
}

.sidebar-list-button-icon {
  display: block;
  font-size: 2em;
  pointer-events: none;
  text-align: center;
  cursor: pointer;
  color: #fff;
  width: 91px;
  height: 52px;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar-list-button-icon-location {
  background-image: url(../images/sidebar-location.png);
}

.sidebar-list-button-icon-info {
  background-image: url(../images/sidebar-info.png);
}

.sidebar-list-button-icon-compare {
  background-image: url(../images/sidebar-compare.png);
}

.sidebar-list-button-icon-link {
  background-image: url(../images/sidebar-link.png);
}

.sidebar-list-button-icon-browse {
  background-image: url(../images/sidebar-browse.png);
}

.sidebar-list-button-icon-judge {
  background-image: url(../images/sidebar-judge.png);
}

.sidebar-list-button-label {
  display: block;
  font-size: 1.1em;
  font-family: 'Open sans', sans-serif;
  margin-top: 1.5em;
  pointer-events: none;
  text-align: center;
  cursor: pointer;
}

.sidebar-tooltip {
  line-height: 1;
  font-weight: normal;
  font-size: 14px;
  font-family: 'Open sans', sans-serif;
  text-align: center;
  width: 220px;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index: 2000;
  position: absolute;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.7);
  opacity: 0.9;
}


.sidebar-tooltip:before {
  display: inline;
  vertical-align: middle;
  font-size: 18px;
  width: 10px;
  height: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25C0";
  position: absolute;
  text-align: center;
}

.sidebar-tooltip.n:before {
  margin: 0 0 0 0;
  left: -10px;
}