/*
* @Author: Yinlong Su
* @Date:   2016-02-17 22:39:06
* @Last Modified by:   Yinlong Su
* @Last Modified time: 2016-04-27 18:44:57
*/
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  height: 100%;
  min-width: 1220px;
  font-size: 36px;
  overflow: hidden;
  background: #fff;
  position: relative;
  line-height: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  display: block;
}

div {
  display: block;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-left: 170px;
  position: relative;

}

.sidebar {
  position: absolute;
  top: 0;
  left: 0px;
  width: 170px;
  height: 100%;
  z-index: 10;
  background: #333333;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  transition: all 0.25s ease;
}

.sidebar-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 12px;
}

.sidebar-list-button {
  width: 80%;
  margin: 0 auto;
  padding: 20px 10px;
  text-align: center;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 12px;

}

.sidebar-list-button-icon {
  display: block;
  font-size: 2em;
  pointer-events: none;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

.sidebar-list-button-label {
  display: block;
  font-size: 1.1em;
  font-family: sans-serif;
  margin-top: 1.5em;
  pointer-events: none;
  text-align: center;
  cursor: pointer;
}

.article-view {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.backgrounds {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 600px;

}

.background-view {
  opacity: 1;
  backface-visibility: hidden;
  visibility: visible;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 1.0);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);

}

.views {
  width: 960px;
  height: 700px;
  margin: auto;
  overflow: visible;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  vertical-align: baseline;
  z-index: 1;
}

.mask {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 102;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}

.shadow-popup-panel {
  width: 960px;
  height: 500px;
  margin: auto;
  padding: 5px;
  overflow: visible;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

.resizing-popup-panel {
  width: 960px;
  height: 500px;
  margin: 0px;
  padding: 5px;
  border-radius: 5px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 103;
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.7);
  background: #6db3f2;
  background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
  background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
}

.popup-panel {
  width: 960px;
  height: 500px;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  overflow: visible;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 103;
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.7);
  background: #6db3f2;
  background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
  background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
}

.popup-panel-chart {
  float: left;
  top: 0px;
  left: 0px;
  width: 600px;
  height: 100%;
  position: relative;
  /*background-color: rgb(35, 117, 243);*/
  background-color: rgba(245, 246, 247, 0.9);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.7);
}

.popup-panel-chart-grid {
  stroke: rgb(205, 205, 205);
  stroke-width: 2;
}

.popup-panel-picture {
  float: left;
  top: 0px;
  left: 5px;
  width: 345px;
  height: 200px;
  position: relative;
  background-color: rgb(133,133,133);
}

.popup-panel-location {
  float: left;
  top: 5px;
  left: 5px;
  width: 345px;
  height: 40px;
  padding: 10px;
  position: relative;
  /*background-color: rgb(255, 255, 255);*/
  font-size: 25px;
  font-family: "Bookman old style";
  text-align: right;
}

.popup-panel-description {
  float: left;
  top: 10px;
  left: 5px;
  width: 345px;
  height: 200px;
  position: relative;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  font-family: Consolas;
  font-size: 16px;

}

.popup-panel-description h1 {
  font-size: 18px;
  font-weight: 600;
  color: rgb(150, 150, 150);
}

.popup-panel-toolbox {
  float: left;
  top: 15px;
  left: 5px;
  width: 345px;
  height: 35px;
  position: relative;
  padding-left: 150px;
  font-size: 16px;
}

.popup-panel-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.popup-panel-icon:hover {
  background-position: 0px -2px;
}

.popup-panel-icon-location {
  background-image: url(images/panel-location.png);
}

.popup-panel-icon-add {
  background-image: url(images/panel-add.png);
}

.popup-panel-icon-remove {
  background-image: url(images/panel-remove.png);
}

.popup-panel-icon-browse {
  background-image: url(images/panel-browse.png);
}

.popup-panel-icon-close {
  background-image: url(images/panel-close.png);
}

.popup-panel-tooltip {
  line-height: 1;
  font-weight: bold;
  font-size: 14px;
  font-family: sans-serif;
  text-align: center;
  width: 220px;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index: 2000;
  position: absolute;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.7);
}
.popup-panel-tooltip:before {
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25B2";
  position: absolute;
  text-align: center;
}

.popup-panel-tooltip.n:before {
  margin: 0 -1px 0 0;
  top: -8px;
  left: 0;
}

.popup-panel-datatip {
  line-height: 1;
  font-weight: bold;
  font-size: 14px;
  font-family: sans-serif;
  text-align: center;
  width: 220px;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index: 2000;
  position: absolute;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.7);
}
.popup-panel-datatip:after {
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.popup-panel-datatip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}