/*
* @Author: Yinlong Su
* @Date:   2016-04-28 22:08:47
* @Last Modified by:   Yinlong Su
* @Last Modified time: 2016-05-12 22:50:33
*/

.midmask {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 170px;
  z-index: 5;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}

.sidebar-panel {
  position: absolute;
  width: 0px;
  height: 100%;
  left: 170px;
  top: 0;
  z-index: 10;
  line-height: 1.5;
  transition: all 0.15s ease;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.sidebar-panel section {
  transition: all 0.5s cubic-bezier(0.3, 0.9, 0.135, 1);
  top: 0;
  position: absolute;
}

.sidebar-panel footer {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-top: rgb(204, 204, 204) 1px solid;
  text-align: right;
  padding-top: 20px;
}

.sidebar-panel footer button {
  background-color: rgb(64,203, 144);
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 16.8px;
  line-height: 16.8px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  -webkit-transition: all 0.14s ease;
  transition: all 0.14s ease;
  border: 0px solid white;
}

.sidebar-panel footer button:hover {
  background-color: rgb(104, 214, 167);

}

.sidebar-panel-body {
  width: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 90px;
  overflow: hidden;
  padding: 40px;
}

.sidebar-panel-body h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.sidebar-panel-body h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}

.sidebar-panel-link {
  background-color: rgba(255, 255, 255, 1.0);
  width: 400px;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.5);
}

.sidebar-panel-link.hidden {
  transform: translateX(-400px);
}

.sidebar-panel-link.visible {
  transform: none;
}

.sidebar-panel-link ul {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.sidebar-panel-link li {
  display: inline-block;
  width: 100px;
  height: 100px;
  color: #000;
  text-align: center;
  font-family: Arial;
  cursor: pointer;
  margin-right: 3px;
}

.sidebar-panel-link li:hover {
  outline: #666666 solid 3px;
}

.sidebar-panel-link li.selected {
  outline: #666666 solid 3px;
}

.sidebar-panel-link-type-pca {
  font-size: 24px;
  line-height: 100px;
  background-color: #dcedf1;
  background-image: -webkit-radial-gradient(center, circle farthest-corner, #f7fbfc 0%, #add9e4 100%);
  background-image: radial-gradient(circle farthest-corner at center, #f7fbfc 0%, #add9e4 100%);
}

.sidebar-panel-link-type-mds-euclidean {
  font-size: 18px;
  line-height: 50px;
  background-color: #f7f3de;
  background-image: -webkit-radial-gradient(center, circle farthest-corner, #fff 0%, #f7f2d3 100%);
  background-image: radial-gradient(circle farthest-corner at center, #fff 0%, #f7f2d3 100%);
}

.sidebar-panel-link-type-mds-cosine {
  font-size: 18px;
  line-height: 50px;
  background-color: #9dd53a;
  background-image: -webkit-radial-gradient(center, circle farthest-corner, #9dd53a 0%, #80c217 100%);
  background-image: radial-gradient(circle farthest-corner at center, #9dd53a 0%, #80c217 100%);
}

.sidebar-panel-link-type-mds-correlation {
  font-size: 18px;
  line-height: 50px;
  background-color: #ff6600;
  background-image: -webkit-radial-gradient(center, circle farthest-corner, #ff6600 0%, #f3c5bd 100%);
  background-image: radial-gradient(circle farthest-corner at center, #ff6600 0%, #f3c5bd 100%);
}

.sidebar-panel-link-type-isomap {
  font-size: 22px;
  line-height: 100px;
  background-color: #fff000;
  background-image: -webkit-radial-gradient(center, circle farthest-corner, #fff000 0%, #ffff88 100%);
  background-image: radial-gradient(circle farthest-corner at center, #fff000 0%, #ffff88 100%);
}


.sidebar-panel-link-sub {
  left: 400px;
  width: 1085px;
  height: 100%;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.5);
}

.sidebar-panel-link-sub.hidden {
  transform: translateX(-1485px);
}

.sidebar-panel-link-sub.visible {
  transform: none;
}

.sidebar-panel-link-sub-chart {
  width: 1080px;
  height: 830px;
  margin: auto;
  padding: 0px;
  overflow: visible;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

.sidebar-panel-browse {
  background-color: rgba(255, 255, 255, 1.0);
  width: 400px;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.5);
}

.sidebar-panel-browse.hidden {
  transform: translateX(-400px);
}

.sidebar-panel-browse.visible {
  transform: none;
}

.sidebar-panel-browse-sub {
  left: 400px;
  width: 785px;
  height: 100%;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 50px;
}

.sidebar-panel-browse-sub.hidden {
  transform: translateX(-1185px);
}

.sidebar-panel-browse-sub.visible {
  transform: none;
}

.browse-country ul {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0;
}

.browse-country li {
  display: inline-block;
  width: 20px;
  height: 15px;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

.browse-country li:hover {
  background-position: 2px 1px;
  outline: #666666 dashed 1px;
}

.browse-country li.selected {
  outline: #666666 solid 1px;
}

.browse-category ul {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0;
}

.browse-category li {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-position: 3px 3px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 3px;
}

.browse-category li:hover {
  background-position: 3px 1px;
  outline: #666666 dashed 1px;
}

.browse-category li.selected {
  outline: #666666 solid 1px;
}

.sidebar-panel-judge {
  background-color: rgba(255, 255, 255, 1.0);
  width: 400px;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.5);
}

.sidebar-panel-judge.hidden {
  transform: translateX(-400px);
}

.sidebar-panel-judge.visible {
  transform: none;
}

.judge-country ul {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0;
}

.judge-country li {
  display: inline-block;
  width: 20px;
  height: 15px;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

.judge-country li:hover {
  background-position: 2px 1px;
  outline: #666666 dashed 1px;
}

.judge-country li.selected {
  outline: #666666 solid 1px;
}

.sidebar-panel-judge-sub {
  left: 400px;
  width: 1085px;
  height: 100%;
  z-index: 9;
  background-color: rgba(255, 255, 255, 1.0);
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.5);
}

.sidebar-panel-judge-sub.hidden {
  transform: translateX(-1585px);
}

.sidebar-panel-judge-sub.visible {
  transform: none;
}

.sidebar-panel-judge-sub-scales {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: auto;
  margin-bottom: auto;
  width: 375px;
  height: 439px;
  background-repeat: no-repeat;
  background-image: url(../images/scales.png);
  background-size: 100% 100%;
}

.sidebar-panel-judge-sub-scales-left {
  position: absolute;
  left: 20px;
  top: 300px;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sidebar-panel-judge-sub-list {
  position: absolute;
  top: 0px;
  left: 485px;
  width: 630px;
  height: 100%;
}

.sidebar-panel-judge-sub-list h1{
  margin-top: 30px;
}

.judge-category {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 58px;
  height: 100%;
  background-color: rgb(233,233,233);
  text-align: center;
  padding: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.judge-category ul {
  list-style: none;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0;
}

.judge-category li {
  display: block;
  width: 56px;
  height: 56px;
  background-position: 4px 4px;
  background-repeat: no-repeat;
  background-size: 48px 48px;
  cursor: pointer;
  margin-bottom: 3px;
  overflow: visible;
}

.judge-category li:hover {
  background-color: #ccc;
}

.judge-category li.selected {
  background-color: #999;
  outline: #666666 solid 1px;
}

.foodlist-body {
  width: 100%;
  height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
}


.foodlist-body::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.foodlist-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.foodlist-body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(128,128,128,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.foodlist-body::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}

.foodlist-body table {
  border: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.foodlist-body tr:hover {
  margin: 0;
  padding: 0;
  background-color: #ffd78c;
}

.foodlist-body td {
  font-size: 14px;
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.foodlist-body td strong {
  display: block;
  padding-top: 10px;
  padding-left: 30px;
  font-size: 21px;
  font-family: 'Open Sans';
  line-height: 21px;
}

.foodlist-body ul {
  display: block;
  margin-left: 0px;
  list-style-type: none;
  padding-left: 30px;
}

.foodlist-body li {
  font-size: 14px;
  font-family: 'Open Sans';
}

.foodlist-body a:link, a:visited {
  display: inline-block;
  padding-left: 30px;
  text-decoration: none;
  color: #f44336;
}

.foodlist-body section {
  transition: all 0.5s cubic-bezier(0.3, 0.9, 0.135, 1);
  position: relative;
}

.foodlist-body section.hidden {
  display: none;
  height: 0px;
}

.foodlist-body section.visible {
  display: block;
  height: auto;
}

.judge-foodlist-body {
  width: 520px;
  height: 500px;
}

.judge-foodcart-body {
  width: 520px;
  height: 280px;
}

.judge-foodcart-body td strong {
  padding-top: 5px;
}

.judge-body-data {
  width: 100%;
  height: 400px;
}

.judge-body-data-bar-back {
  fill: #dddddd;
  rx: 3px;
  ry: 3px;
}

.judge-body-data-bar-world {
  fill: #cccccc;
  opacity: 0.7;
}

.judge-body-data-bar {
  rx: 3px;
  ry: 3px;
}