
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />

  <link href="./static/css/main.css" rel="stylesheet" type="text/css">
  <link href="./static/css/sidebar.css" rel="stylesheet" type="text/css">
  <link href="./static/css/sidebar.panel.css" rel="stylesheet" type="text/css">
  <link href="./static/css/article.css" rel="stylesheet" type="text/css">
  <link href="./static/css/popup.panel.css" rel="stylesheet" type="text/css">
  <title>World Food Facts</title>
</head>

<body>

  <div class="page">
    <div class="topmask hidden"></div>
    <div class="sidebar">
      <div class="sidebar-list">
        <div class="sidebar-list-button" id="sidebar-list-button-location">
          <span class="sidebar-list-button-icon sidebar-list-button-icon-location"></span>
          <span class="sidebar-list-button-label">Location</span>
        </div>
        <div class="sidebar-list-button" id="sidebar-list-button-info">
          <span class="sidebar-list-button-icon sidebar-list-button-icon-info"></span>
          <span class="sidebar-list-button-label">Info</span>
        </div>
        <div class="sidebar-list-button" id="sidebar-list-button-compare">
          <span class="sidebar-list-button-icon sidebar-list-button-icon-compare"></span>
          <span class="sidebar-list-button-label">Compare</span>
        </div>
        <div class="sidebar-list-button" id="sidebar-list-button-link">
          <span class="sidebar-list-button-icon sidebar-list-button-icon-link"></span>
          <span class="sidebar-list-button-label">Link</span>
        </div>
        <div class="sidebar-list-button" id="sidebar-list-button-browse">
          <span class="sidebar-list-button-icon sidebar-list-button-icon-browse"></span>
          <span class="sidebar-list-button-label">Browse</span>
        </div>
        <div class="sidebar-list-button" id="sidebar-list-button-judge">
          <span class="sidebar-list-button-icon sidebar-list-button-icon-judge"></span>
          <span class="sidebar-list-button-label">Judge</span>
        </div>
      </div>
    </div>
    <div class="midmask hidden" id="midmask"></div>
    <div class="sidebar-panel hidden" id="sidebar-panel">
      <section class="sidebar-panel-link hidden" id="sidebar-panel-link">
        <div class="sidebar-panel-body">
        <h1>Link between countries</h1>
        <h3>Type</h3>
        <ul>
          <li class="sidebar-panel-link-type-pca" id="sidebar-panel-link-type-pca">PCA</li>
        </ul>
        <ul>
          <li class="sidebar-panel-link-type-mds-euclidean" id="sidebar-panel-link-type-mds-euclidean">MDS<br/>Euclidean</li>
          <li class="sidebar-panel-link-type-mds-cosine" id="sidebar-panel-link-type-mds-cosine">MDS<br/>Cosine</li>
          <li class="sidebar-panel-link-type-mds-correlation" id="sidebar-panel-link-type-mds-correlation">MDS<br/>Correlation</li>
        </ul>
        <ul>
          <li class="sidebar-panel-link-type-isomap" id="sidebar-panel-link-type-isomap">ISOMAP</li>
        </ul>
        <h3>Dimension</h3>
        Now is fixed @ 10.
        <h3>Play speed</h3>
        Now is fixed @ 100.
        </div>
        <footer>
          <button id="sidebar-panel-link-button">OK</button>
        </footer>
      </section>
      <section class="sidebar-panel-link-sub hidden" id="sidebar-panel-link-sub">
        <div class="sidebar-panel-link-sub-chart" id="sidebar-panel-link-sub-chart"></div>
      </section>
      <section class="sidebar-panel-browse hidden" id="sidebar-panel-browse">
        <div class="sidebar-panel-body">
          <h1>Browse</h1>
          <h3>Country: <br/><span id="browse-country-text"></span></h3>
          <div class="browse-country" id="browse-country"></div>

          <h3>Category: <br/><span id="browse-category-text"></span></h3>
          <div class="browse-category" id="browse-category"></div>

        </div>
        <footer>
          <button id="sidebar-panel-browse-button">Query</button>
        </footer>
      </section>
      <section class="sidebar-panel-browse-sub hidden" id="sidebar-panel-browse-sub">
        <h1>Search Result: <span id="browse-foodlist-title"></span></h1>
        <div class="foodlist-body" id="browse-foodlist-body"></div>
      </section>
      <section class="sidebar-panel-judge hidden" id="sidebar-panel-judge">
        <div class="sidebar-panel-body">
          <h1>Judge</h1>
          <h3>Target Country: <br/><span id="judge-country-text"></span></h3>
          <div class="judge-country" id="judge-country"></div>

          <h3>Compare Result</h3>
          Area reserved for comparing bar chart<br/>Area reserved for most close habit

        </div>
      </section>
      <section class="sidebar-panel-judge-sub hidden" id="sidebar-panel-judge-sub">
        <div class="sidebar-panel-judge-sub-scales">
          <div class="sidebar-panel-judge-sub-scales-left" id="sidebar-panel-judge-sub-scales-left"></div>
          <div class="sidebar-panel-judge-sub-scales-right" id="sidebar-panel-judge-sub-scales-right"></div>
        </div>
        <div class="sidebar-panel-judge-sub-list">
          <h1>List: <span id="judge-foodlist-title"></span></h1>
          <div class="foodlist-body judge-foodlist-body" id="judge-foodlist-body"></div>
          <h1>Cart: <span id="judge-foodcart-title"></span></h1>
          <div class="foodlist-body judge-foodcart-body" id="judge-foodcart-body"></div>
          <div class="judge-category" id="judge-category"></div>
        </div>
      </section>
    </div>

    <article class="article-view">
      <div class="views" id="views">
        <div class="map-view" id="map-view"></div>
        <div class="legend-view" id="legend-view">
          <span class="legend-view-item legend-view-item-selected" id="legend-view-item-additives">Additives</span>
          <span class="legend-view-item" id="legend-view-item-energy">Energy</span>
          <span class="legend-view-item" id="legend-view-item-fat">Fat</span>
          <span class="legend-view-item" id="legend-view-item-carbohydrates">Carbohydrates</span>
          <span class="legend-view-item" id="legend-view-item-sugars">Sugars</span>
          <span class="legend-view-item" id="legend-view-item-fiber">Fiber</span>
          <span class="legend-view-item" id="legend-view-item-proteins">Proteins</span>
          <span class="legend-view-item" id="legend-view-item-salt">Salt</span>
          <span class="legend-view-item" id="legend-view-item-sodium">Sodium</span>
          <span class="legend-view-item" id="legend-view-item-alcohol">Alcohol</span>
          <span class="legend-view-autoplay" id="legend-view-autoplay">Auto play</span>
          <span class="legend-view-color legend-view-color-red"></span>
        </div>
      </div>

      <div class="backgrounds">
        <div class="background-view"></div>
      </div>
    </article>
  </div>

  <div class="popup-panel info hidden" id="info">
    <header>
      <h3>Country Information</h3>
      <span id="info-country-label">World</span>
    </header>
    <div class="info-body">
      <div class="info-body-chart" id="info-body-chart"></div>
      <div class="info-body-data" id="info-body-data"></div>
    </div>
    <div class="info-toolbox">
      <span class="popup-panel-icon popup-panel-icon-location" id="info-icon-location"></span>
      <span class="popup-panel-icon popup-panel-icon-add" id="info-icon-add"></span>
      <span class="popup-panel-icon popup-panel-icon-browse" id="info-icon-browse"></span>
      <span class="popup-panel-icon popup-panel-icon-close" id="info-icon-close"></span>
    </div>
  </div>

  <div class="popup-panel compare hidden" id="compare">
    <header>
      <h3>Country Compare</h3>
    </header>
    <div class="compare-body">
      <div class="compare-body-chart" id="compare-body-chart"></div>
      <div class="compare-body-data" id="compare-body-data"></div>
    </div>
    <div class="compare-toolbox">
      <span class="popup-panel-icon popup-panel-icon-add" id="compare-icon-add"></span>
      <span class="popup-panel-icon popup-panel-icon-remove" id="compare-icon-remove"></span>
      <span class="popup-panel-icon popup-panel-icon-close" id="compare-icon-close"></span>
    </div>
  </div>



  <script src="./static/lib/d3/d3.v3.min.js"></script>
  <script src="./static/lib/topojson/topojson.v1.min.js"></script>
  <script language="Javascript" src="./static/lib/datamaps/datamaps.world.min.js"></script>
  <script language="Javascript" src="./static/js/country.data.js"></script>
  <script language="Javascript" src="./static/js/category.data.js"></script>
  <script language="Javascript" src="./static/js/link.data.js"></script>

  <script language="Javascript" src="./static/js/worldmap.js"></script>
  <script language="Javascript" src="./static/js/panel.js"></script>
  <script language="Javascript" src="./static/js/sidebar.js"></script>
  <script language="Javascript" src="./static/js/sidebar.link.chart.js"></script>
  <script language="Javascript" src="./static/js/sidebar.browse.list.js"></script>
  <script language="Javascript" src="./static/js/sidebar.judge.chart.js"></script>

  <script language="Javascript" src="./static/js/panel.info.chart.js"></script>
  <script language="Javascript" src="./static/js/panel.compare.chart.js"></script>
</body>
</html>
